/* ================================= 
  Base Element Styles
==================================== */

* {
	box-sizing: border-box;
}
body {
	font-family: 'Varela Round', sans-serif;
	line-height: 1.6;
	color: #3a3a3a;
	margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
	font-size: .95em;
	margin-bottom: 1.8em;
}
h2,
h3,
a {
	color: #093a58;
}
h2,
h3 {
	margin-top: 0;
}
a {
	text-decoration: none;
}
img {
	max-width: 100%;
}

/* ================================= 
  Base Layout Styles
==================================== */

/* ---- Navigation ---- */

.name {
	font-size: 1.35em;
	margin: 0;
}
.main-nav {
	margin-top: 5px;
}
.name a,
.main-nav a {
	text-align: center;
	display: block;
	padding: 10px 15px;
}
.main-nav a {
	font-size: .95em;
	color: #3acec2;
	text-transform: uppercase;
}
.main-nav a:hover {
	color: #093a58;
}

/* ---- Layout Containers ---- */

.main-header {
	padding-top: .5em;
	padding-bottom: .5em;
}
.banner,
.main-footer {
	text-align: center;
}
.banner {
	color: #fff;
	background: #3acec2;
	padding: 3.2em 0;
	margin-bottom: 48px;
}
.col {
	padding-right: 1em;
	padding-left: 1em;
}
.main-footer {
	background: #d9e4ea;
	padding: 2em 0;
	margin-top: 30px;
}

/* ---- Page Elements ---- */

.logo {
	width: 190px;
}
.headline {
	margin-bottom: 0;
}
.feat-img {
	border-radius: 5px;
}



/* ===================================== 
   Page Styles
======================================== */

/*-------------Things to do page---------------------*/

body {
  font-size: 1rem;
  line-height: 1.5;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  margin: 0;
}

p {
  margin-bottom: 1.25em;
}
.main-content {
  margin: 2em auto;
}
.card {
  padding: 1.5em 1em;
  border: 1px solid #e1e1e1;
  border-radius: 0.25em;
}
.card h2 {
  margin: 0.35em 0 0;
  line-height: 1.25;
}

/*----------------------------------*/

/*-------------Restaurants page---------------------*/

* {box-sizing: border-box;}
body {font-family: Verdana, sans-serif;}
.mySlides {display: none;}
img {vertical-align: middle;}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}


/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .text {font-size: 11px}
}

.rest-heading {
	margin: auto;
	margin-bottom: 20px;
} 

.text-pic {
	font-weight: bold;
	font-size: large;
	margin-bottom: 10px;
	color: #093a58;
}

.text-pic-desc {
	margin-top: 5px;
	color: #093a58;
}

/*----------------------------------*/


/* ================================= 
  Media Queries
==================================== */

@media (min-width: 769px) {
	
	.main-header,
	.main-nav,
	.row {
		display: flex;
	}
	
	.main-header,
	.row {
		width: 90%;
		margin: 0 auto;
	}

	.tagline {
		font-size: 1.4em;
    }

	.main-header {
		flex-direction: column;
		align-items: center;
}

.col {
	flex:1 50%;
}

.row {
	flex-wrap:wrap;
}

.main-content {
	width:95%;
	max-width: 1000px;

	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
	grid-gap:20px;
}
}
@media (min-width: 1025px) {
	.main-header,
	.row {
		width: 80%;
		max-width: 1150px;
    }
    .main-header {
		flex-direction: row;
		justify-content: space-between;
	}

	.col {
		flex-basis:0;
	}
}